<h1>Editing recipe</h1>

<% form_for(@recipe) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Name_of_dish %><br />
    <%= f.text_field :Name %>
  </p>
    <p>
     Describe your dish <br />in a couple of sentences<br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :User_Name%><br />
    <%= f.text_field :username %>
  </p>
    <p>
    <%= f.label :Ingredients%><br />
    <%= f.text_area :ingredients%>
  </p>
  <p>
    <%= f.label :Instructions %><br />
    <%= f.text_area :Instructions %>
  </p>
  <p>
    <%= f.label :Cooking_Time %><br />
    <%= f.text_field :cooking_time%>
  </p>
  <p>
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @recipe %> |
<%= link_to 'Back', recipes_path %>