<h1>Editing drink_comment</h1>

<% form_for(@drink_comment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :drink_id %><br />
    <%= f.text_field :drink_id %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @drink_comment %> |
<%= link_to 'Back', drink_comments_path %>